{% load static %}
<link rel="stylesheet" href="{% static 'web/css/shorts/areas.css' %}" type="text/css" media="all">
<section id="gallery">
    <div id="botonesArea" >
        <ul>
            {% for area in areas %}
                {% if area.nombre == "Cultural" %}
                    <li ><a href="{% url 'web:area' area.nombre %}" title="{{ area.nombre }}"><span>{{ area.nombre }}</span></a></li>
                {% else %}
                    <li ><a href="{% url 'web:area' area.nombre %}" title="{{ area.nombre }}"><span>{{ area.nombre }}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>