{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'web/css/loginStyle.css' %}" type="text/css" media="all">
<div class="main-box">
    <div class="container">
        <div class="inside">
            <div class="wrapper">
              <h2>{% trans "Sign In" %}</h2>

              <p>{% blocktrans %}Si no tienes cuenta, porfavor,
                <a href="{{ signup_url }}">registrate</a> primero.{% endblocktrans %}
                </br>
                <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Has olvidado tu contraseña?" %}</a>
              </p>
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button class="primaryAction button" type="submit">{% trans "Logear" %}</button>
              </form>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
