{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- /#gallery -->
  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="separator"></div>
            <!-- #gallery -->
            {% include "noticias/shorts/areas.html" %}
            <!-- /#gallery -->
        <div class="separator"></div>
        <div class="wrapper">
        	<!-- aside -->
          <aside>
            <h2>Sobre <span>Nuestra web</span></h2>
            <div class="img-box">
              En esta página web encontrarás mucha información de interés y paridas que posiblemente haya escrito jopegar, en su mayoria.
            </div>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</p>
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
          </aside>
          <!-- content -->
          <section id="content">
            <article>
            	<h2>Sobre <span>Nuestro equipo</span></h2>
              <!-- .team-list -->
              <ul class="team-list">
                  {% for miembro in miembros %}
                    <li>
                     <h3>
                         <a href="#">{{ miembro.nombre}} - {{ miembro.area}}</a>
                         {% if user.is_staff %}
                            <a href="{% url 'accounts:accounts.modificarMiembro' miembro.id %}" class="modify">Modificar</a>
                         {% endif %}
                     </h3>
                        {% autoescape off %}
                            {{ miembro.descripcion }}
                        {% endautoescape %}
                    </li>

                  {% endfor %}
              </ul>
                {% if user.is_staff %}
                   <a href="{% url 'accounts:accounts.anadirMiembro' %}" class="anadirMiembro">Añadir</a>
                {% endif %}
              <!-- /.team-list -->
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}