{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="main-box">
    <div class="container">
      <div class="inside">
        <h2>{{entrada.titulo}}</h2>
        {% autoescape off %}
        <p>{{ entrada.noticia }}</p>
        {% endautoescape %}
        <h4>{{ entrada.fecha }}</h4>
        {% if user.is_staff %}
          <a href="{% url 'accounts:accounts.actividad' entrada.id %}"><div class="botonModificar">Modificar</div></a>
        {% endif %}
      </div>

      <div></div>
    </div>
  </div>
{% endblock content %}
