{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- /#gallery -->
  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="separator"></div>
            <!-- #gallery -->
            {% include "noticias/shorts/areas.html" %}
            <!-- /#gallery -->
        <div class="separator"></div>
        <div class="wrapper">
        	<!-- aside -->
          <aside>
            <h2>Como <span>contactar</span></h2>
            <!-- .contacts -->
            <ul class="contacts">
              <li><strong>Valencia:</strong>Valencia</li>
              <li><strong>Telf. 1:</strong>+34 666666666</li>
              <li><strong>Donde:</strong>Todo recto y a la derecha</li>
              <li><strong>Email:</strong><a href="#">maildedelegacion@upv.es</a></li>
            </ul>
            <!-- /.contacts -->
            <h3>Información:</h3>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
          </aside>
          <!-- content -->
          <section id="content">
            <article>
            	<h2>Otra zona de <span>Contacto</span></h2>
              Yep
            </article> 
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}