{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'web/css/indexStyle.css' %}" type="text/css" media="all">
<div class="container">
    {% include "_messages.html" %}

</div><!-- /.container -->

<div class="main-box">
    <div class="container">
        <div class="inside">
            <div class="separator"></div>
            <!-- #gallery -->
            {% include "noticias/shorts/areas.html" %}
            <!-- /#gallery -->
            <div class="separator"></div>
            <div class="wrapper">
                <!-- aside -->
                <aside>
                    <h2>Noticias <span>Recientes</span></h2>
                    <!-- .news -->
                    <ul class="news">
                        {% for entrada in lista_ultimas_entradas %}
                        <li>
                            <figure><strong>{{ entrada.fecha|date:"d" }}</strong>{{ entrada.fecha|date:"M" }}</figure>
                            {% if entrada.typeClass == 'Entrada'  %}
                                 <a href="{% url 'web:entrada' entrada.id %}"><h3 class="titulo">{{ entrada.titulo}}</h3>
                            {% elif entrada.typeClass  == 'Actividad' %}
                                 <a href="{% url 'web:actividad' entrada.id %}"><h3 class="titulo">{{ entrada.titulo}}</h3>
                            {% endif %}
                                {% autoescape off %}
                                <div class="resumen">{{ entrada.resumen }}</div>
                                {% endautoescape %}</a>

                        </li>

                        {% endfor %}
                    </ul>
                    <!-- /.news -->
                </aside>
                <!-- content -->
                <section id="content">
                    <article>
                        <h2>Bienvenida a  <span>Delegación de Alumnos de Informática!</span></h2>

                        <p>Esta es nuestra página web, etc etc</p>
                        <figure><a href="#"><img src="{% static 'web/images/logo.jpg' %}" alt="" height="120" width="512"></a></figure>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                       ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex enderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock content %}