{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    h2 {
        text-align: center;
        margin-top: 1em;
    }
</style>
<div class="main-box">
    <h2>Hola de nuevo {{ user.username }}<br> </h2>
    <div class="container">
      <div class="inside">
        <div class="wrapper">
                <div>
                    <!-- #gallery -->
                    {% include "noticias/shorts/areas.html" %}
                    <!-- /#gallery -->
                    <a href="{% url 'accounts:accounts.createArea' %}"><button class="button" style="margin: 10% 0 0 35%">Crear Area</button></a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
