{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    h2 {
        text-align: center;
        margin-top: 1em;
    }
    .entradas{
        margin: 0 0 0 17%;
        display: inline-block;
        width: 100%;
        height: 100%;
        max-width: 75%;

    }
    .button{
        margin: 1%;
        width: 40%;
        height: 50%;
        max-height: 3em;
        line-height: 22px;
        padding:20px;
        overflow: initial;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;

    }


</style>


<div class="main-box">
    <h2>Hola de nuevo {{ user.first_name }}<br> </h2>
    <div class="container">
      <div class="inside">
        <div class="wrapper">
            <div>
                <nav>
                <ul>
                    <h5 class="one"><span>Miembros</span></h5>
                    {% if user.is_staff %}
                    {% for miembro in miembros %}
                        <div class="entradas">
                            <h3><a href="{% url 'accounts:accounts.modificarMiembro' miembro.id %}">{{ miembro.nombre}} - {{ miembro.area}}</a></h3>
                        </div>
                    {% endfor %}
                    {% endif %}
                </ul>
              </nav>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}