{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    h2 {
        text-align: center;
        margin-top: 1em;
    }
    .entradas{
        margin: 0 0 0 17%;
        display: inline-block;
        width: 100%;
        height: 100%;
        max-width: 75%;

    }
    .button{
        margin: 1%;
        width: 40%;
        height: 50%;
        max-height: 3em;
        line-height: 22px;
        padding:20px;
        overflow: initial;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;

    }


</style>


<div class="main-box">
    <h2>Hola de nuevo {{ user.first_name }}<br> </h2>
    <div class="container">
      <div class="inside">
        <div class="wrapper">
            <div>
                <nav>
                <ul>
                    <h5 class="one"><span>Perfil</span></h5>
                    <div class="entradas">
                        <li><a href="{% url 'accounts:accounts.perfil' %}" class="current"><button class="button">Modificar Perfil</button></a></li>
                        <li><a href="{% url 'accounts:accounts.index' %}" class="current"><button class="button">Ver mi Perfil</button></a></li>
                    </div>
                    {% if user.is_staff %}
                    <h5 class="one"><span>Areas</span></h5>

                        <div class="entradas">
                            <li><a href="{% url 'accounts:accounts.areasAdmin' %}" class="current"><button class="button">Añadir Areas</button></a></li>
                        </div>
                        <h5 class="one"><span>Entradas</span></h5>
                        <div class="entradas">
                            <li><a href="{% url 'accounts:accounts.elegirEntrada' %}"><button class="button">Añadir entradas</button></a></li>
                            <li><a href="{% url 'accounts:accounts.modificarEntrada' %}"><button class="button mod">Modificar una entrada</button></a></li>
                        </div>
                        <h5 class="one"><span>Semana cultural</span></h5>
                        <div class="entradas">
                            <li><a href="{% url 'accounts:accounts.anadirEvento' 'Eventos' %}"><button class="button">Añadir evento</button></a></li>
                            <li><a href="{% url 'accounts:accounts.anadirEvento' 'Actividades '%}"><button class="button mod">Añadir actividad</button></a></li>
                            <li><a href="{% url 'accounts:accounts.anadirEvento' 'Entrega de premios' %}"><button class="button mod">Añadir entrega de premios</button></a></li>
                        </div>

                        <h5 class="one"><span>Miembros</span></h5>
                        <div class="entradas">
                            <li><a href="{% url 'accounts:accounts.anadirMiembro' %}"><button class="button">Añadir miembro</button></a></li>
                            <li><a href="{% url 'accounts:accounts.miembros' %}"><button class="button mod">Modificar miembro</button></a></li>
                        </div>
                    {% endif %}
                </ul>
              </nav>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
