{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'web/css/perfilStyle.css' %}" type="text/css" media="all">

<div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
            <form class="form-container" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-title"><h2>Perfil</h2></div>
                <div class="form-title">Nombre de usuario </div>
                <div class="form-field ">{{user_form.username}}</div></br>
                <div class="form-title">Nombre</div>
                {{user_form.first_name}}
                <div class="form-title">Apellidos</div>
                {{user_form.last_name}}
                <div class="submit-container">
                    <input class="submit-button" type="submit" value="Actualizar" />
                    <a href="{% url 'accounts:accounts.change_password' %}" class="submit-button">Cambiar contraseña</a>
                </div>
                <div class="form-title">Ultima conexion: {{user.last_login}}</div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
