h2{
    margin: 0 40%;
    font-size: 40px;
}

.actividades{
    height: 20em;
    width: 30%;
    float: left;
    margin: 1em 0.2em;
    height: 100%;

}

.inside{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.titulo{
    color: black;
    margin-bottom: 5%;
}

.resumen{
    color: grey;
    padding: 0 0 0 5em 0;
    margin: 0 0 0 5%;
}

a{
    text-decoration: none;
}

.titulo_act{
    font-size: 20px;
}