<!DOCTYPE html>
{% load staticfiles %}
{% static "web/images/" as url %}
<html lang="en">
<head>

  <title>Dai - Web</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'web/css/reset.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'web/css/cookiesStyle.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'web/css/botones.css' %}" type="text/css" media="all">
  <link rel="stylesheet" href="{% static 'web/css/style.css' %}" type="text/css" media="all">
  <script type="text/javascript" src="{% static 'web/js/cookies.js' %}" ></script>
  <!--<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>-->
  <script type="text/javascript" src="{% static 'web/js/jquery-1.4.2.min.js' %}" ></script>
  <script type="text/javascript" src="{% static 'web/js/cufon-yui.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/js/Humanst521_BT_400.font.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/js/Humanst521_Lt_BT_400.font.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/js/roundabout.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/js/roundabout_shapes.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/js/gallery_init.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/js/cufon-replace.js' %}"></script>
  <!-- CKEDITOR -->
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <!--[if lt IE 7]>
  	<link rel="stylesheet" href="{% static 'web/css/ie/ie6.css' %}" type="text/css" media="all">
  <![endif]-->
  <!--[if lt IE 9]>
  	<script type="text/javascript" src="{% static 'web/js/html5.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/IE9.js' %}"></script>
  <![endif]-->
</head>

<body onload="main()">
  <!-- header -->
  {% block header %}
  <header>
    <div class="container">
    	<h1><a href="{% url 'index' %}">DAI</a></h1>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}" class="current">Home</a></li>
          <li><a href="{% url 'web.about' %}">Infórmate</a></li>
          <li><a href="http://www.pisado.es/pisado/">Pisados</a></li>
          <li><a href="https://www.dropbox.com/sh/m1slr3t6xyizzg2/AABAOQfgLFwMcYB3PBXh7pyca?dl=0">Exámenes</a></li>
          <li><a href="{% url 'web.faq' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'web.contact' %}">Contact</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'accounts.logout' %}">Logout</a></li>
            <li><a href="{% url 'accounts.panel' %}">{{ user.username }}</a></li>
          {% else %}
            <li><a href="{% url 'accounts.login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
	</header>

  <h2 style="color:white"> Error!</h2>
  <div id="overbox3">
    <div id="infobox3">
        <p>Esta web utiliza cookies para obtener datos estadísticos de la navegación de sus usuarios. Si continúas navegando consideramos que aceptas su uso.
        <a href="{% url 'web.politica_privacidad' %}">Más información</a>
        <a onclick="aceptar_cookies();" style="cursor:pointer;">X Cerrar</a></p>
    </div>
  </div>
  {% endblock %}




{% block footer %}
  <!-- footer -->
  <footer>
    <div class="container">
    	<div class="wrapper">
        <div class="fleft" >Copyright - DAI UPV</div>
        <!--<div class="fright"><a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">Website template</a> designed by TemplateMonster.com&nbsp; &nbsp; |&nbsp; &nbsp; <a href="http://templates.com/product/3d-models/" target="_blank">3D Models</a> provided by Templates.com</div>
        -->
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
{% endblock %}
